.canvas {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: $davys-grey;
  width: 100%;
  padding: 4rem;
  align-items: center;
  justify-items: center;
  padding-top: 0;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive("lg") {
    flex: 1;
  }

  @include responsive("md") {
    padding: 1rem 2.5rem;
  }

  @include responsive("xs") {
    padding: 1rem 1.5rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
  white-space: pre-wrap;
  height: 100%;

  @include responsive("lg") {
    font-size: 1.6rem;
  }

  @include responsive("xs") {
    font-size: 1.4rem;
  }
}

.textGridItem {
  align-self: flex-start;
  margin-top: 8px;
  z-index: 10;
  grid-column: -7 / -1;
  grid-row: 1 / 2;

  @include responsive("xs") {
    grid-column: 13 / 15;
    grid-row: 1 / 2;
  }
}

.message {
  transition: all 0.3s;
}
