.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $davys-grey;
  width: 100%;
  padding: 4rem;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nodeBox {
  width: 6rem;
  height: 6rem;
}
