.canvas {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: $davys-grey;
  width: 100%;
  padding: 4rem;
  align-items: center;
  padding-top: 0;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.text {
  font-size: 1.8rem;
  color: white;
}
