$primary-color: #508484;
$secondary-color: #79c99e;
$tertiary-color: #97db4f;
$davys-grey: #4d5359;
$danger: #e32636;
$light-gray: #ededed;
$dark-gray: #1c1f21;

// https://coolors.co/4a4238-4d5359-508484-79c99e-97db4f
