.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  flex: 1;

  background-color: $dark-gray;

  @include responsive("lg") {
    padding: 4rem;
  }

  @include responsive("lg") {
    padding: 4rem 2rem;
  }

  @include responsive("md") {
    gap: 3rem;
  }
}

.contact {
  color: $light-gray;
  font-size: 1.6rem;

  @include responsive("md") {
    text-align: center;
  }
}

.link {
  color: #7fa1dc;
  &:hover {
    color: lighten(#7fa1dc, 5);
  }
}

.heading {
  color: $light-gray;
  font-size: 2.2rem;
  font-weight: 600;

  @include responsive("md") {
    font-size: 2rem;
    flex-shrink: 0;
  }

  @include responsive("sm") {
    font-size: 1.8rem;
  }
}
