.sliderBox {
  width: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive("xl") {
    width: 15%;
  }

  @include responsive("md") {
    width: 20%;
  }
}

.sliderTitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: $light-gray;
  margin-bottom: 0.5rem;
}
