.reactionsBar {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
  height: 30px;
}

.eye {
  fill: #f3f3f3;
}

.favorited {
  fill: red;
  cursor: pointer;
}

.notFavorited {
  fill: #f75c5c;
  cursor: pointer;
  &:hover {
    fill: #fa3d3d;
  }
}

.thumbsUpNotLiked {
  fill: #86bbd8;
  cursor: pointer;
  &:hover {
    fill: #60a9d1;
  }
}

.thumbsUpLiked {
  fill: #2fa0de;
  cursor: pointer;
}
