.nodeBox {
  position: relative;
  width: 6rem;
  height: 6rem;
}

.label {
  position: absolute;
  top: 0%;
  left: -50%;
  color: $light-gray;
  font-size: 1.8rem;
}

.label-down {
  z-index: 10;
  position: absolute;
  bottom: -60%;
  left: 50%;
  width: max-content;
  color: $light-gray;
  font-size: 2rem;

  transform: translateX(-50%);
}
