.node {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55888b;
  border: 1px solid #2f4a4c;
  width: 6rem;
  height: 6rem;

  box-shadow: 8px 5px 10px 3px rgba(0, 0, 0, 0.1);

  @include responsive("xl") {
    width: 5.5rem;
    height: 5.5rem;
  }

  @include responsive("md") {
    width: 4.5rem;
    height: 4.5rem;
  }

  @include responsive("sm") {
    width: 4rem;
    height: 4rem;
  }
}

.content {
  font-size: 2.7rem;
  color: $light-gray;

  @include responsive("lg") {
    font-size: 2.4rem;
  }

  @include responsive("md") {
    font-size: 2rem;
  }
}

.input {
  font-size: 1.5rem !important;
  color: $light-gray;
}
