.nodeBox {
  position: relative;
  width: 6rem;
  height: 6rem;

  path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: arrow 0.5s ease-in;
    animation-fill-mode: forwards;

    @media only screen and (max-width: 120em) {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
    }

    @media only screen and (max-width: 180em) {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
    }

    @media only screen and (min-width: 200em) {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
    }
  }

  @include responsive("xl") {
    width: 5.5rem;
    height: 5.5rem;
  }

  @include responsive("md") {
    width: 4.5rem;
    height: 4.5rem;
  }

  @include responsive("sm") {
    width: 4rem;
    height: 4rem;
  }
}

.label {
  position: absolute;
  top: 0%;
  left: -50%;
  color: $light-gray;
  font-size: 1.8rem;

  @include responsive("lg") {
    font-size: 1.6rem;
  }
}

.label-down {
  z-index: 10;
  position: absolute;
  bottom: -60%;
  left: 50%;
  width: max-content;
  color: $light-gray;
  font-size: 2rem;

  transform: translateX(-50%);

  @include responsive("lg") {
    font-size: 1.8rem;
  }
}

@keyframes arrow {
  to {
    stroke-dashoffset: 0;
  }
}
